:host {
    width: 100%;
    height: 100%;
}

.board {
    width: 400px;
    height: 400px;

    ::ng-deep {
        [data-square] {
            transition: background-color 0.4s;
        }

        [data-square].valid:not([class*="highlight"]) {
            box-shadow: inset 0 0 3px 3px black;
        }

        [data-square].invalid {
            box-shadow: initial;
        }

        [data-square].immoveable {
            box-shadow: inset 0 0 3px 3px red;
        }

        [data-square].moveable {
            box-shadow: inset 0 0 3px 3px green;
        }

        .checked {
            background-color: pink !important;
        }

        .checkmated {
            background-color: red !important;
        }

        .checkmated img {
            transform: rotate(90deg);
            transform-origin: center center;
            transition: transform 0.5s;
        }
    }
}